body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #AED4C7;
  color: #000000;
}

nav {
  font-size: 1.5em;
  background-color: rgba(0,0,0,.3);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 50px;
  width: 120px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 90%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 300px;
}

figcaption {
  font-size: 80%;
}

h1 {
  font-size: 2.5em;
  line-height: 2;
  font-weight: 900;
}

h3 {
  font-size: 1.2em;
  line-height: 1.8;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:link { color:#0B0BCA; }
a:visited { color:#A7A7FA; }
a:hover { color:#C518F0; }
a:active { color:#FFFFFF; }

.author {
  font-size: 80%;
  line-height: 2;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.story-text {
  font-size: 100%;
  line-height: 1.5;
}
